# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database Configuration
DATABASE_URL="your_database_url"
DIRECT_URL="your_direct_database_url"

# OAuth Configuration
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
NEXTAUTH_URL="your_nextauth_url"
NEXTAUTH_SECRET="your_nextauth_secret"

# Application Configuration
PORT=5001
FRONTEND_URL="your_frontend_url"
JWT_SECRET="your_jwt_secret" 